// 1. Твои цвета
@import "./abstract/variables";
@import "./components/admin";

// 2. Переопределяем цвета Bootstrap ДО его загрузки
$primary: $cyan;
$body-bg: $black;
$body-color: $white;

// 3. Загружаем ВЕСЬ Bootstrap одной командой.
// Так он сам внутри себя разберется с variables-dark и миксинами.
//@import "bootstrap/scss/bootstrap";

// 4. Твои стили поверх
@import "./abstract/typography";
