@import "bootstrap-icons/font/bootstrap-icons.css";
@import "./abstract/variables";
@import "./abstract/typography";

$primary: $cyan;
$danger: $red;
$body-bg: $black;

@import "bootstrap/scss/bootstrap";

@import "./components/admin";
@import "./components/client";
@import "./components/layout";
@import "./components/home";
@import "./components/favorites";
@import "./components/artist-dashboard-pages";
@import "./components/player-bar";
@import "./components/track-context-menu";
@import "./components/account-settings";
@import "./components/premium";
