// General Colors
$blue: #BEF4FF;
$indigo: #1DB954;
$purple: #1DB954;
$pink: #1DB954;
$red: #1DB954;
$orange: #1DB954;
$yellow: #1DB954;
$green: #1DB954;
$teal: #1DB954;
$cyan: #00A6FF;
$black: #020A13;
$white: #FFFFFF;
$gray: #1DB954;
$gray-dark: #0F1724;


$colors: (
        "blue":       $blue,
        "indigo":     $indigo,
        "purple":     $purple,
        "pink":       $pink,
        "red":        $red,
        "orange":     $orange,
        "yellow":     $yellow,
        "green":      $green,
        "teal":       $teal,
        "cyan":       $cyan,
        "black":      $black,
        "white":      $white,
        "gray":       $gray,
        "gray-dark":  $gray-dark
);

//ADMIN PANEL
// Colors
$admin-bg: #222731;
$admin-primary:   #4B7490;
$admin-stroke:    #828487;
$admin-secondary: #353E4B;
$admin-header: #325B76;
$admin-btn-primary: #7AE0FF;
$admin-text: #718096;

// Buttons
$admin-approve:   #8EE6CC;
$admin-cancel:    #FFCACB;

$primary: $green;


//link
$link-decoration: none;

$enable-rounded: true;
$border-radius-values: (
        0: 0,
        1: 6px,
        2: 8px,
        3: 12px,
        4: 24px,
        5: 48px
);